.admin-layout {
  display: flex;
  min-height: 100vh;
}

.admin-layout__main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.admin-layout__content {
  flex: 1;
  padding: 24px;
}
